{% extends "base.html" %}
{% load static %}

{% block title %}
  Profile Remap Manager
{% endblock %}

{% block content %}

  <h3>
    Remapping for {{ job.job_name }} (#{{ job.id }})
  </h3>

  <form method="POST">
    {% csrf_token %}
    Query:
    <br/>
    <textarea name="query" rows="5" cols="60">{{ job.remap_query|default_if_none:'' }}</textarea>
    <br/>
    <input type="submit" value="Submit"/>
  </form>

  <br/>

  <P>
    <a href="{% url 'profile_remap_manager:index' %}">Back</a>
  </P>

{% endblock %}
