{% extends "base.html" %}
{% load static %}
{% load app_filters %}
{% load render_bundle from webpack_loader %}

{% block title %}Bakround{% endblock %}

{% block content %}
    <link type="text/css" rel="stylesheet" href="{% static 'vendor/materialize/css/materialize.css' %}"  media="screen,projection"/>
    <link rel="stylesheet" href="{% static 'vendor/introjs-2.4.0/intro.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/employer.css' %}" />

    <link rel="stylesheet" href="{% static 'vendor/jquery-ui-1.12.1/jquery-ui.min.css' %}">
    <script src="{% static 'vendor/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

    <style>
        nav {
            height: 50px;
            line-height: 1.42857143;
            box-shadow: none;
            background-color: #EDF5F9;
        }

        .glyphicon-cog {
            color: #337ab7;
        }

        .welcome-title h4 {
            font-weight: 300;
        }

        #imgBestFit { cursor: pointer; }

        .deleted-job {
          display: none;
        }
    </style>
    <div class="welcome-title row" style="margin-left: -25px">
        <h4>
          Welcome back, {{first_name}}!
          <a style="font-size: 24px" class="fa fa-question-circle-o"
                href="#!" title="show tour"
                onclick="startJobsTour()"
                id="show_tour"></a>
        </h4>
    </div>
    <div style="float: right;">
        <a href="{% url 'icims:stats' %}"
            style="margin-right: 30px">View Stats</a>
    </div>
    <div class="row">
        {% if icims_jobs %}
          <div class="row location">
            <h5>ICIMS JOBS</h5>
                {% for job in icims_jobs %}
                  {% include "icims/job_card.html" %}
                {% endfor %}
          </div>
        {% else %}
            There are no jobs created yet.
        {% endif %}
    </div>

<div id="deletion_dialog" style="display: none">
  Are you sure you want to delete this job?
  You will no longer be able to access this job
  or the candidates you have contacted regarding
  this job.
  <br/>
</div>

<script src="{% static 'vendor/hammer/hammer.min.js' %}"></script>
<script src="{% static 'vendor/materialize/js/materialize.js' %}"></script>

<script src="{% static 'vendor/introjs-2.4.0/intro.min.js' %}"></script>
<script src="{% static 'js/jobs.js' %}"></script>

<script>
    window.csrf_token='{{csrf_token}}';

    {% if not tour_dismissed %}
      $(function() {
        startJobsTour();
      });
    {% endif %}
</script>
{% endblock %}
