<div id="first_contact_modal">
  <P>
    Before you contact a candidate, we'd like to describe how it works.
    They'll be sent an introduction email asking whether they are interested in the position.
    You'll receive a notification if they accept or decline.
    If they accept, you'll be able to view their full name and have access to their contact info.
  </P>

  <P>
    If you would like to specify a custom message and/or a logo,
    please visit the Job Settings page first to configure those values.
  </P>

  <P>
    Would you like to proceed with contacting the candidate?
  </P>
</div>

<script>
  $("#first_contact_modal").modal();
</script>
