{% extends "base.html" %}

{% block content %}

  {% if success %}
    <P>
      You have successfully logged in.  Before continuing to the site,
      please create a password of at least 8 characters.
    </P>
    <form method="POST" action="{% url 'set_initial_password' %}">
      Your new password:
      <input type="password" name="password" autofocus>
      <input type="submit" value="OK">
      {% csrf_token %}
    </form>
  {% else %}
    That login token is invalid or expired.
  {% endif %}

{% endblock %}
